@font-face {
    font-family: "Favorit";
    src: url("favorit-regular.otf");
    }

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}


h1 {
    font-family: "Favorit", arial, sans-serif;
    border: solid 3px #000;

    text-align: center;
    font-size: 48px;
    font-weight:normal;
}

nav button {
    width: 50%;
    height: 75px;
    border: none;

    background-color: #000;
    color: white;

    display: inline-block;

    font-family: "Favorit", arial, sans-serif;
    font-size: 24px;
    font-weight:normal;

    cursor: pointer;
}

label {
    height: 75px;
    font-family: "Favorit", arial, sans-serif;
}

select {
    height: 75px;
    width: 49%;
    text-align: center;
    float: right;

    /* display: inline-block; */
    font-family: "Favorit", arial, sans-serif;
    font-size: 24px;
    border-color: transparent transparent #fff transparent;
    cursor: pointer;

    border-radius: 0px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;

    background-color: #D3D3D3;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: initial;
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    width: 100%;

    /* display: table; */
}

li {
    height: 100px;
    /* width: 100%; */
    /* border: 3px solid #000; */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    /* display: table-row; */
}

li button {
    border: none;
    background-color: inherit;
    float: right;
    cursor: pointer;

    padding-top: 30px;
   /* display: inline-block; */
}

li button img {
    width: 15px;
    
    /* display: inline-block; */
}

li h3 {
    font-weight:normal;
    font-family: "Favorit", arial, sans-serif;
    font-size: 24px;
}