@font-face {
    font-family: "Favorit";
    src: url("favorit-regular.otf");
    }

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-family: "Favorit", arial, sans-serif;
}


h1 {
    text-align: center;
    font-size: 48px;
    font-weight:normal;
}

h1 a {
    text-decoration: none;
    color: #000;
}

nav button {
    width: 50%;
    height: 75px;
    border: none;

    background-color: #6E49F7;
    color: white;

    display: inline-block;

    font-size: 24px;
    font-weight:normal;

    cursor: pointer;
}

label {
    height: 75px;
}

nav select {
    height: 75px;
    width: 50%;
    text-align: center;
    float: right;

    font-size: 24px;

    cursor: pointer;

    border-radius: 0px;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;

    background-color: #D3D3D3;
    color: #000;

    text-align-last:center;
    direction: rtl;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: initial;
    width: 100%;

}

li {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow-wrap: break-word;
}

li button {
    border: none;
    float: right;
    cursor: pointer;
    background-color: #fff;
}

li button img {
    width: 30px;
    /*padding-top: 5px;*/
}

li h3 {
    font-weight: normal;
    font-size: 24px;
    cursor: pointer;
}

li p {
    margin-top: 0px;
    font-size: 18px;  
    cursor: pointer; 
}

li a {
    text-decoration: none;
    color: #000;
    line-height: 0px;
}

li a:hover {
    border-bottom: solid 1.5px #000;
    padding-bottom: 0px;
}


  .bookmark-form {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
  }

  input {
    width: 100%;
    color: #000;
  }

select {
        height: 75px;
        width: 100%;

        font-size: 24px;
        border-color: transparent transparent #fff transparent;
        cursor: pointer;
    
        border-radius: 0px;
        -webkit-appearance: none;
        -webkit-border-radius: 0px;

        border: 2px solid #D3D3D3;
        background-color: #fff;
        color: #D3D3D3;

        padding-left: 5px;
        direction: left;
  }

  form input {
    color:#000;
    font-size: 24px;
    /* width: 100%; */
    border: 2px solid #D3D3D3;
    padding: 5px;
    margin-bottom: 5px;
  }

  input::placeholder {
    color: #D3D3D3;
  }

 form button {
    width: 50%;
    height: 75px;
    font-size: 24px;

    border: none;

    margin-top: 5px;
    justify-self: space-between;
    
    cursor: pointer;

    background-color: #fff;
    color: #000;
   }

   @media (max-width: 800px) {
    li {
        border-bottom: 2px solid #d3d3d3;
    }
   }

   @media (max-width: 500px) {
    h1 {
        font-size: 36px;
    }

    nav button {
        font-size: 18px;
    }

    nav select {
        font-size: 18px;
    }

    li {
        border-bottom: 2px solid #d3d3d3;
    }

    li h3 {
        font-size: 18px;
    }

    li p, li a {
        font-size: 12px;
    }

    form input {
        font-size: 12px;
    }

    form button {
        font-size: 18px;
        background-color: #fff;
    }

   }